/* Estilos generales */
body {
  background: rgb(232, 232, 232);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Rubik Dirt', cursive;
}

.seccion-oscura {
  background-color: #1b1b32;
  color: white;
}

.seccion-clara {
  background-color: rgb(255, 255, 255);
  color: black;
}

.seccion-semiClara {
  background-color: rgb(232, 232, 232);
  color: black;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Rubik Dirt', cursive;
  -webkit-animation: scale-up-center 6s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
	        animation: scale-up-center 6s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.2rem;
  text-align: justify;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/* Boton ir inicio */
.botonArriba {
  position: fixed;
  bottom: 20px;
  right: 2px;
  transition: all 1s;
  cursor: pointer;
}

.hideBotonArriba {
  position: fixed;
  bottom: 20px;
  right: -100px;
  transition: all 1s;
}

/* Barra de navegación */
.navbar {
  padding: 1rem;
  font-size: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1000;
}

.navbar img {
  border-radius: 50%;
  cursor: pointer;
}

.navbar a {
  color: white;
  margin: 0 20px;
}

.navbar a:hover {
  color: #00abf0;
}

/* Sección Hero */
.hero {
  background-color: rgb(232, 232, 232);
  min-height: 450px;
  text-align: center;
  margin-top: 100px;
}

.hero-principal {
  padding: 3rem;
}

.hero-principal h1, h2 {
  -webkit-animation: tracking-in-contract-bck-top 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
	        animation: tracking-in-contract-bck-top 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
}

@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
            transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
            transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: #615151;
}

.hero-imagen-perfil {
  background-image: url(./imagenes/General/yo-linkedin.jpg);
  background-size: cover;
  height: 20rem;
  position: relative;
  width: 20rem;
  animation: 8s ease-in-out 1s infinite normal none running morph;
  background-position: 50% center;
  background-repeat: no-repeat;
  border-width: 3px;
  border-style: solid;
  border-image: initial;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  transition: all 1s ease-in-out 0s;
}

@-webkit-keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.hero-imagen-inferior {
  margin-bottom: 50px;
}



/* Sobre mi */
.sobre-mi {
  height: 550px;
  padding: 100px 0 100px 0;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}



/* Experiencia */
.experiencia {
  padding: 60px 40px 60px 40px;
  margin: 100px 0 50px 0;
}

.experienciaCard {
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.experiencia .columna {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
  color: white;
  background-color: #1b1b32;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border-top-left-radius: 0%;
  border-bottom-right-radius: 0%;

}

.experiencia .columna:hover i {
  background-color: #323258;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}

.experiencia i {
  font-size: 2.5rem;
  color: #7ade30;
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius: 50%;
}



/* Proyectos */
.proyectos-recientes {
  padding: 70px 40px 40px 40px;
  margin-bottom: 150px;
}

.container {
  max-width: 67rem;
  margin: 0px auto;
  padding: 10px;
}

.project-content {
  display: flex;
  flex-direction: column;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  height: auto;
  width: 100%;
  gap: 5rem;
}

.projects-grid .pro_1 {
  flex-direction: row;
  height: 20rem;
  gap: 8rem;
  padding: 1rem;
}

.project_img, .project2_img, .project3_img {
  height: auto;
  width: 40rem;
  border-radius: 5%;
  overflow: hidden;
}

.reversed-proj {
  flex-direction: row-reverse !important;
}

.projects-grid .pro {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  display: flex;
  border-radius: 1.7rem;
}

.project3 {
  height: auto;
  width: 100%;
  transform: translateY(0%); 
  transition: transform 10s ease-in-out 0s;
}

.project2,
.project1 {
  height: auto;
  width: 100%;
  transform: translateY(0%); 
  transition: transform 20s ease-in-out 0s;
}

.project2Effect,
.project1Effect {
  height: auto;
  width: 100%;
  transition: transform 20s ease-in-out 0s;
}

.project1Effect {
  transform: translateY(-86%); 
}

.project2Effect {
  transform: translateY(-84%); 
}

.project3Effect {
  height: auto;
  width: 100%;
  transition: transform 10s ease-in-out 0s;
  transform: translateY(-47%); 
}

.projects-grid .pro_text {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  max-width: 25rem;
  margin-right: 50px;
}

.projects-grid .pro_text p {
  color: rgb(118, 118, 118);
  font-size: 1rem;
  font-weight: 500;
  text-align: justify;
  text-transform: none;
}

.stack {
  margin: 10px 0 20px 0;
}

.links a:hover {
  color: rgb(12, 110, 253);
}

.links a {
  color: rgb(45, 46, 50);
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 45px; 
  text-decoration: none;
}

.links a i {
  font-size: 1.8rem;
}


/* Contacto */
.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background-color: rgb(12, 110, 253);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  color: black;
  background-color: white;
}

.contacto button:hover i {
  color: black;
}



/* Footer */
footer {
  min-height: 500px;
}

.footer-logo {
  height: 150px;
  width: 150px;
  margin: 10px;
  border-radius: 50%;
} 

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.formContact {
  background: #f7f5f7;
  width: 50%;
  padding: 70px;
  margin-top: 60px;
  margin-bottom: 140px;
  border-radius: 20px;
}

.labelFormContact {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: #0a0a23;
}

.inputFormContact {
  font-size: 1.2rem;
  padding: 15px;
}

.textAreaFormContact {
  height: 160px;
  font-size: 1.2rem;
}

.containerButtonForm {
  display: flex;
  justify-content: center;
}

.buttonFormContact {
  margin-top: 10px;
  font-size: 1.6rem;
  padding: 7px 15px;
  background: #0a0a23;
  color: white;
}

.buttonFormContact:hover {
  color: #0a0a23;
  background: white;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in; 
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
  -webkit-animation: rotate-center 1s ease-in-out both;
	        animation: rotate-center 1s ease-in-out both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px ;
}



/* Adaptable responsivo */
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .hero-imagen-inferior {
    max-width: 600px;
  }
}

@media screen and (max-width: 650px) {
  .seccion-texto {
    padding: 50px;
  }
}

@media screen and (max-width: 585px) {
  .sobre-mi {
    height: 700px;
  }
}

@media screen and (max-width: 420px){
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }

  .sobre-mi {
    min-height: 1000px;
  }
}

@media screen and (max-width: 320px) {
  .sobre-mi {
    height: 1300px;
  }
  .hero-imagen-perfil {
    width: 250px;
  }
}

/* Experiencia */
@media screen and (max-width: 400px){
  .experiencia-titulo {
    font-size: 22px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  .badges-contenedor {
    padding-top: 0;
    font-size: 19px;
  }
  
  .experiencia i {
    font-size: 2.2rem;
  }
}

/* Proyectos */
@media screen and (max-width: 1060px) {
  .pro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
  }

  .project_img, .project2_img, .project3_img {
    height: 28rem;
    width: auto;
    padding: 10px 10px;
  }
  
  .projects-grid .pro_text {
    padding-left: 15px;
    margin-right: 15px;
    max-width: 100%;
  }

  .projects-grid .pro_1 {
    gap: 2rem;
    height: auto;
  }
  
  .links {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 650px) {
  .project_img, .project2_img, .project3_img {
    max-height: 22rem;
  }
}

@media screen and (max-width: 550px) {
  .project_img, .project2_img, .project3_img {
    max-height: 17rem;
  }
}

@media screen and (max-width: 450px) {
  .project_img, .project2_img, .project3_img {
    max-height: 13rem;
  }
  .links a {
    font-size: 1.2rem;
  }
  .links a i {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 380px) {
  .project_img, .project2_img, .project3_img {
    max-height: 10rem;
  }
}
  
/* Form Contact */
@media screen and (max-width: 800px) {
  .formContact {
    width: 90%;
    padding: 15px;
  }
}

@media screen and (max-width: 400px) {
  .labelFormContact {
    font-size: 1.3rem;
  }
  
  .inputFormContact {
    font-size: 1rem;
  }
  
  .textAreaFormContact {
    height: 160px;
    font-size: 1rem;
  }
  
  .buttonFormContact {
    font-size: 1.2rem;
    padding: 5px 10px;
  }
}





