/* Modo Dark/Light */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
      format('woff2');
  font-display: swap;
}

:root {
  --semiBlack: #454545ad;

  --blueLight-black: #000;
  --blueLight-white: #fff;
  --blueMedium-whiteLight: rgb(232, 232, 232);

  --blueStrong-blueLight: #024c81;
  --blueStrong-black: #000;
  --white-blueStrong: #081b29;
  --linear-grad: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  --linear-grad-exp: linear-gradient(90deg, rgb(232, 232, 232) 0,transparent);

  --font-main: 'Quicksand', sans-serif;
  --font-special-titles: 'Alfa Slab One', sans-serif;
}

body {
  background-color: var(--blueMedium-whiteLight);
  color: var(--blueLight-black);
}

body.dark {
  --blueLight-black: #00abf0;
  --blueLight-white: #00abf0;
  --blueMedium-whiteLight: #192e3c;

  --blueStrong-blueLight: #081b29;
  --blueStrong-black: #081b29;
  --white-blueStrong: #fff;
  --linear-grad: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  --linear-grad-exp: linear-gradient(90deg, rgb(25, 46, 60) 0,transparent);
}

/* Estilos generales */
* {
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Rubik Dirt', cursive;
}

.seccion-oscura {
  background-color: var(--blueStrong-blueLight);
  color: white;
}

.seccion-clara {
  background-color: rgb(255, 255, 255);
  color: black;
}

.colorWhite {
  color: white !important;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.seccion-titulo {
  color: var(--blueLight-black);
  font-size: 2.5rem;
  padding: 15px 0;
  font-family: 'Rubik Dirt', cursive;
  -webkit-animation: scale-up-center 6s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
	        animation: scale-up-center 6s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.2rem;
  text-align: left;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/* Barra de navegación */
.navbar {
  padding: 1rem;
  font-size: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1000;
  transition: color 1s ease-in-out 0s, background 1s ease-in-out 0s;
  background: var(--blueStrong-blueLight) !important;
}

.toggler {
  position: absolute;
  top: 15px;
  right: 30px;
  transition: color 1s ease-in-out 0s, background 1s ease-in-out 0s;
  background: var(--blueLight-white);
}

.navbar img {
  border-radius: 50%;
  cursor: pointer;
  margin-right: 20px;
  width: 47px;
  height: 42px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--blueLight-white);
  font-weight: 600;
  transition: .2s ease-in-out;
  transition-property: color, background;
  padding: 0.5rem 1.5rem !important;
}

.navbar a:hover {
  color: white;
}

.menuBackdrop {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  left: var(--left);
  top: var(--top);
  width: var(--width);
  height: var(--height);
  opacity: 0;
  z-index: -10;
}

#closeMenuResponsive {
  text-align: center;  
  font-size: 30px;
}

.toggleThemeIcon {
  width: 30px;
  color: var(--blueLight-white);
  font-size: 43px;
  margin-top: 5px;
  border-radius: 50%;
  cursor: pointer;
 }
 
 .flags {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .idiom {
   width: 100%;
   height: 45px;
   margin-left: 40px;
   cursor: pointer;
   display: block;
  }

/* Sección Hero */
.hero {
  background-color: var(--blueMedium-whiteLight);
  transition: color 1s ease-in-out 0s, background 1s ease-in-out 0s;
  min-height: 450px;
  text-align: center;
  padding-top: 70px;
}

.hero-principal {
  padding: 3rem;
}

.hero-principal h1 {
  font-size: 3.2rem;
  -webkit-animation: tracking-in-contract-bck-top 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
	        animation: tracking-in-contract-bck-top 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
}

@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
            transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
            transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.textAnimate {
  position: relative;
}

.hero-principal .occupationAnimation {
  font-size: 2.7rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: .7px var(--white-blueStrong);
  background-image: linear-gradient(var(--white-blueStrong), var(--white-blueStrong));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-position: -33rem 0;
  animation-delay: 2s;
  transition: -webkit-text-stroke 1s ease-in-out 0s,  background-image 1s ease-in-out 0s;
}

.occupationAnimation {
  animation: tracking-in-contract-bck-top 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both, homeBgText 6s linear infinite;
}

.hero-principal .occupationAnimation::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 2px solid var(--white-blueStrong);
  z-index: -1;
  animation: tracking-in-contract-bck-top 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both, homeCursorText 6s linear infinite;
  animation-delay: 2s;
  transition: border-right 1s ease-in-out 0s;
}

/* Cursor Website titulo website developer */
@keyframes homeCursorText {
  0%,
  10%,
  100% {
    width: 0;
  }

  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }

  75%,
  81% {
    opacity: 0;
  }
}

@keyframes homeBgText {
  0% {
    background-position: -33rem 0;
  }

  10%,
  100% {
    background-position: -25rem 0;
  }

  65%,
  85% {
    background-position: 0 0;
  }
}

.hero-imagen-perfil {
  background-image: url(./imagenes/General/yo-linkedin.webp);
  background-size: cover;
  height: 20rem;
  position: relative;
  width: 20rem;
  animation: 8s ease-in-out 1s infinite normal none running morph;
  background-position: 50% center;
  background-repeat: no-repeat;
  border-width: 3px;
  border-color: var(--blueLight-black);
  border-style: solid;
  border-image: initial;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  transition: border-color 1s ease-in-out 0s;
}

@-webkit-keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.hero-imagen-inferior {
  margin-bottom: 50px;
}



/* Sobre mi */
.sobre-mi {
  height: 570px;
  padding: 50px 0;
  transition: color 1s ease-in-out 0s, background 1s ease-in-out 0s;
}

.sobre-mi p {
  color: white;
  transition: color 1s ease-in-out 0s;
  font-weight: 500;
  line-height: 2.1rem;
}

.sobre-mi h2 {
  color: var(--blueLight-white);
  transition: color 1s ease-in-out 0s;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}

.boton-code {
  font-size: 1.5rem;
  padding: 0.3rem 0;
  width: 35%;
  color: #00abf0;
  border: 2px solid #00abf0;
}

.boton-demo {
  font-size: 1.7rem;
  padding: 0.3rem 0;
  width: 55%;
  color: #00abf0;
  border: 2px solid #00abf0;
}

.boton-demo,
.boton-code,
.boton4 {
  background: transparent;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  overflow: hidden;
  transition: all .5s ease;
}

.boton4 {
  color: var(--blueLight-white);
  border: 2px solid var(--blueLight-white);
  font-size: 1.25rem;
  padding: 0.7rem 1em;
}

.boton-demo span,
.boton-code span,
.boton-otros-proyectos span,
.boton4 span {
  display: block;
  margin-left: 0.3em;
  transition: color 1s ease-in-out 0s, background 1s ease-in-out 0s, transform .3s ease-in-out;
}

.boton-demo i,
.boton-code i {
  display: block;
  transition: color 1s ease-in-out 0s, background 1s ease-in-out 0s, transform .3s ease-in-out;
}

.boton-otros-proyectos i,
.boton4 i {
  display: block;
  transform-origin: center center;
  transform: rotate(-45deg);
  transition: color 1s ease-in-out 0s, background 1s ease-in-out 0s, transform .3s ease-in-out;
}

.boton-demo:hover .wrapper,
.boton-code:hover .wrapper,
.boton-otros-proyectos:hover .wrapper,
.boton4:hover .wrapper {
  animation: fly 0.6s ease-in-out infinite alternate;
}

.boton4:hover i {
  transform: translateX(3em) rotate(0deg) scale(1.7);
}

.boton-demo:hover i {
  transform: translateX(1.7em) scale(1.6);
}

.boton-code:hover i {
  transform: translateX(1.6em) scale(1.6);
}

.boton-otros-proyectos:hover i {
  transform: translateX(4.2em) rotate(45deg) scale(1.7);
}

.boton-demo:hover span,
.boton-code:hover span,
.boton-otros-proyectos:hover span,
.boton4:hover span {
  transform: translateX(10em);
}

.boton-demo:active,
.boton-code:active,
.boton-otros-proyectos:active,
.boton4:active {
  transform: scale(0.95);
}

@keyframes fly {
  from { transform: translateY(0.1em);}
  to { transform: translateY(-0.1em);}
}

.datosImportantes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: .7rem 0 2rem 0;
  font-weight: 700;
}

.datosImportantes article {
  display: flex;
  flex-direction: column;
}

.textoAbout {
  font-size: 1.6rem;
}

.numberAbout {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: var(--linear-grad);
  font-size: 2.5rem;
  font-family: var(--font-special-titles);
  letter-spacing: .2rem;
  margin-bottom: -.7rem;
}


/* Experiencia */
.slider {
  width: 80vw;
  max-width: 1050px;
  height: auto;
  overflow: hidden;
  -webkit-box-reflect: below 0 linear-gradient(180deg,transparent,rgba(0,0,0,.2));
  position: relative;
  transition: color 1s ease-in-out, background 1s ease-in-out, -webkit-box-reflect 1s ease-in-out !important;
}

.slider2 {
  margin-top: 5rem;
}

.slider:before {
  left: 0;
  top: 0;
}

.slider:after {
  right: -1px;
  top: 0;
  transform: rotate(180deg);
}

.slider:after, .slider:before {
  transition: color 1s ease-in-out, background 1s ease-in-out !important;
  position: absolute;
  content: "";
  height: 100px;
  width: 15%;
  background: var(--linear-grad-exp);
  z-index: 2;
}

.sliderList {
  display: flex;
  animation: scroll 20s linear infinite;
  -webkit-animation: scroll 20s linear infinite;
  width: calc(150px * 16);
}

.sliderItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150px;
}

.sliderItem span {
  padding: .3rem .6rem;
  border-radius: .7rem;
  font-weight: bolder;
}

.javascriptText {
  background-color: #F0DB4F;
  color: #323330;
}

.typescriptText {
  background-color: #2F74C0;
  color: white;
}

.reactText {
  background-color: #B0ECFD;
  color: black;
}

.reduxText {
  background-color: #764ABC;
  color: white;
}

.expressText,
.nextjsText {
  background-color: black;
  color: white;
}

.tailwindText {
  background-color: #38B2AC;
  color: black;
}

.nodejsText {
  background-color: #83CD29;
  color: black;
}

.postgreText {
  background-color: #336791;
  color: white;
}

.cssText {
  background-color: #1572B6;
  color: white;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
    -webkit-animation: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 8));
    -webkit-animation: translateX(calc(-150px * 8));
  }
}

.experiencia {
  padding: 90px 0 40px 0;
  margin-bottom: 3rem;
  background: var(--blueMedium-whiteLight);
  transition: color 1s ease-in-out, background 1s ease-in-out !important;
}

.experiencia h2 {
  color: var(--blueLight-black);
  transition: color 1s ease-in-out 0s;
  margin-bottom: 2rem;
}


/* Otros Proyectos */
.boton-otros-proyectos {
  font-size: 1.25rem;
  background: transparent;
  color: var(--blueLight-black);
  border: 2px solid var(--blueLight-black);
  padding: 0.8rem 1em;
  padding-left: 0.9em;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
  overflow: hidden;
  transition: color 0.2s ease-in-out 0s, border-color 1s ease-in-out 0s;
  margin-top: 70px;
  margin-bottom: 200px;
}

.proyectos-recientes {
  padding: 70px 40px 0px 40px;
  background-color: var(--blueMedium-whiteLight);
  transition: color 1s ease-in-out 0s, background 1s ease-in-out 0s;
}

.proyectos-recientes .container {
  transition: color 1s ease-in-out 0s, background 1s ease-in-out 0s;
}

.otros-proyectos {
  padding: 40px;
}

.otros-proyectos img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  display: block;
  transition: opacity 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
}

.overlay {
  transition: transform 0.2s ease;
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 10px;
  color: var(--white-blueStrong);
}

.proyecto {
  position: relative;
  margin-bottom: 1.5rem;
}

.proyecto8,
.proyecto9,
.proyecto10 {
  margin-bottom: 9rem;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.proyecto:hover img {
  opacity: 0.2;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: var(--white-blueStrong);
  font-size: 50px;
  margin: 5px 10px;
  transition: color .3s ease-in-out;
}

.overlay i:hover {
  color: var(--blueLight-white);
}


/* Proyectos */

.pro_text h3 {
  font-family:  var(--font-special-titles);
  letter-spacing: .1rem;
  color: black;
  transition: color 1s ease-in-out 0s, background 1s ease-in-out 0s;
  font-weight: 400;
  font-size: 1.8rem;
}

.container {
  max-width: 67rem;
  margin: 0px auto;
  padding: 10px;
}

.project-content {
  display: flex;
  flex-direction: column;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  height: auto;
  width: 100%;
  gap: 5rem;
}

.projects-grid .pro_1 {
  flex-direction: row;
  height: 20rem;
  gap: 6rem;
  padding: 1rem;
}

.project_img, .project2_img, .project3_img, .project4_img {
  height: auto;
  width: 40rem;
  border-radius: 5%;
  overflow: hidden;
}

.reversed-proj {
  flex-direction: row-reverse !important;
}

.projects-grid .pro {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  display: flex;
  border-radius: 1.7rem;
  opacity: 1;
}

.project4,
.project2 {
  height: auto;
  width: 100%;
  transform: translateY(0%); 
  transition: transform 10s ease-in-out 0s;
}

.project1,
.project3 {
  height: auto;
  width: 100%;
  transform: translateY(0%); 
  transition: transform 7s ease-in-out 0s;
}

.project4Effect,
.project3Effect {
  height: auto;
  width: 100%;
  transition: transform 14s ease-in-out 0s;
}

.project1Effect {
  height: auto;
  width: 100%;
  transition: transform 10s ease-in-out 0s;
  transform: translateY(-69%); 
}

.project4Effect {
  transform: translateY(-84%); 
}

.project3Effect {
  transform: translateY(-82%); 
}

.project2Effect {
  height: auto;
  width: 100%;
  transition: transform 5s ease-in-out 0s;
  transform: translateY(-52%); 
}

.projects-grid .pro_text {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  max-width: 28rem;
  margin-right: 10px;
}

.projects-grid .pro_text p {
  color: rgb(118, 118, 118);
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  text-transform: none;
}

.stack {
  display: flex;
  justify-content: flex-start;
  margin: 8px 0 32px;
  position: relative;
}

.stack h5 {
  position: absolute;
  margin-top: .2rem;
  border-radius: 1rem;
  padding: .2rem .6rem;
  font-size: 1rem;
  opacity: 0;
  transition: .3s ease;
  transition-property: opacity;
  font-size: 1rem;
}

.stack img:hover+ h5 {
  opacity: 1;
}

.stacks {
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.stacks img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  opacity: 1 !important;
  border-radius: 0 !important;
}

.links {
  display: flex;
  cursor: pointer;
  column-gap: 2rem;
  row-gap: 1rem;
}

.proyectos-recientes h2 {
  color: var(--blueLight-black);
  transition: all 1s ease-in-out 0s;
}

/* Contacto */
.contacto {
  transition: color 1s ease-in-out 0s, background 1s ease-in-out 0s;
}

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -7rem;
  background-color: rgb(12, 110, 253);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto .contactButton {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color;
}

.contacto .contactButton i {
  color: white;
  font-size: 1.3rem;
  transition: color 0.2s ease-in-out;
}

.contacto .contactButton:hover {
  color: black;
  background-color: white;
}

.contacto .contactButton:hover i {
  color: black;
}

.mailContact {
  font-weight: 700;
}



/* Footer */
footer {
  min-height: 500px;
  transition: color 1s ease-in-out 0s, background 1s ease-in-out 0s;
}

.titulo-footer {
  color: var(--blueLight-white);
}

.footer-logo {
  height: 150px;
  width: 150px;
  margin: 10px;
  border-radius: 50%;
} 

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

footer p {
  color: var(--blueLight-white);
  transition: all 1s ease-in-out 0s;
  font-weight: 600;
}

.iconos-redes-sociales-hero a, 
.iconos-redes-sociales a {
  border: 2px solid var(--white-blueStrong);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border-radius: 50%;
  transition: color 1s ease-in-out, transform .3s ease-in-out;
}

.iconos-redes-sociales-hero i,
.iconos-redes-sociales i {
  color: var(--white-blueStrong);
  font-size: 1.5rem;
  transition: 1s ease-in-out;
  transition-property: color;
}

.iconos-redes-sociales-hero article,
.iconos-redes-sociales article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconos-redes-sociales-hero h3 {
  background-color: var(--blueStrong-blueLight);
  color: var(--blueLight-white);
}

.iconos-redes-sociales h3 {
  background-color: var(--blueLight-white);
  color: var(--blueStrong-black);

}

.iconos-redes-sociales-hero h3,
.iconos-redes-sociales h3 {
  border-radius: 1rem;
  padding: .5rem .7rem;
  font-size: 1rem;
  opacity: 0;
  transition: .3s ease;
  transition-property: opacity;
}

.iconos-redes-sociales-hero a:hover+ h3,
.iconos-redes-sociales a:hover+ h3 {
  opacity: 1;
}

.iconos-redes-sociales-hero a:hover,
.iconos-redes-sociales a:hover {
  transform: scale(1.25)
}

.derechos-de-autor {
  font-size: 18px;
  color: var(--blueLight-white);
  transition: color 1s ease-in-out 0s, background 1s ease-in-out 0s;
  padding: 20px ;
}


/* Animaciones */
.slideInLeft {
	-webkit-animation: slideInLeft 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slideInLeft 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.slideInRight {
	-webkit-animation: slideInRight 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slideInRight 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


@media screen and (max-width: 1060px) {
  .pro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
  }

  .project_img, .project2_img, .project3_img, .project4_img {
    height: 28rem;
    width: auto;
    padding: 10px 10px;
  }
  
  .projects-grid .pro_text {
    padding-left: 15px;
    margin-right: 15px;
    max-width: 100%;
  }

  .projects-grid .pro_1 {
    gap: 2rem;
    height: auto;
  }
  
  .links {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 850px) {
  .datosImportantes,
  .seccion-texto {
    padding: 0 30px;
  }

  .overlay {
    opacity: 1;
  }
  
  .proyecto img {
    opacity: 0.2;
  }

  .sobre-mi {
    height: 850px;
  }

  .proyecto8 {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }

  #toggleTheme,
  .idiom {
    display: none;
  }
    .otros-proyectos {
      padding: 40px 0 120px 0;
    }
  
    .proyectos-recientes {
      padding: 70px 0 0 0;
    }
  }
  
@media screen and (max-width: 680px) {
  .hero-imagen-inferior {
    max-width: 600px;
  }

  .proyecto {
    margin-bottom: 30px;
  }

  .datosImportantes {
    margin: 0 0 2rem 0;
    flex-wrap: wrap;
    justify-content: start;
    padding: 0 0 0 10%;
    align-items: center;
    gap: 3rem;
  }

  .textoAbout {
    font-size: 1.3rem;
  }
  
  .project_img, .project2_img, .project3_img, .project4_img {
    max-height: 22rem;
  }

  .projects-grid .pro_1 {
   padding: 5px;
  }

  .pro {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 585px) {
  .sobre-mi {
    height: 1000px;
  }

  .idiom {
    margin-left: 0;
   }

   .project_img, .project2_img, .project3_img, .project4_img {
    max-height: 17rem;
  }

  .seccion-texto {
    padding: 0 40px;
  }

  .footer-logo {
    margin-top: 3rem;
  } 

  .boton-demo,
  .boton-code {
    width: 45%;
    margin-bottom: 1rem;
  }
  
}

@media screen and (max-width: 473px) {
  @keyframes homeBgText {
    0% {
      background-position: -33rem 0;
    }
  
    10%,
    100% {
      background-position: -13rem 0;
    }
  
    65%,
    85% {
      background-position: 0 0;
    }

  }

  .hero-principal .occupationAnimation {
    margin: 1rem 0;
    background-position: -33rem 0;
  } 
  
  .hero-principal .textAnimate {
    display: flex;
    justify-content: center;
    width: 65%;
  }

  .proyecto8 {
    margin-bottom: 2rem;
  }

  .stack {
    margin: 10px 0 15px 0;
  }

  .project_img, .project2_img, .project3_img, .project4_img {
    max-height: 13rem;
  }

  .links a {
    font-size: 1.6rem;
  }

  .links a i {
    font-size: 2rem;
  }  

  .contacto .contactButton {
    padding: .7em 2em;
    margin: 20px 0 2px 0;  
  }

  .slider {
    width: 90vw;
  }
}

@media screen and (max-width: 420px){
  .overlay p {
    font-size: 23px;
  }

  .overlay i {
    font-size: 50px;
  }

  .boton-code {
    width: 100%;
    margin-bottom: 0;
  }

  .boton-demo {
    width: 100%;
  }

}

@media screen and (max-width: 400px){
  .experiencia-titulo {
    font-size: 22px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  .sobre-mi {
    height: 1150px;
  }

}

@media screen and (max-width: 340px) {
  .hero-imagen-perfil {
    width: 250px;
  }

  .datosImportantes {
    padding-left: 5%;
  }

  .pro {
    max-width: 95%;
  }

  .stack h5 {
    display: none;
  }
  
}